@using Yerpe.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="form-signin-heading">Yerpe sign in...</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", id = "inputEmail", placeholder = "Email address" })
        <label for="inputPassword" class="sr-only">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "inputPassword", placeholder = "Password" })
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
